language: python
python:
  - "2.7"

# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests


script:
  - wget -O- http://travis.debian.net/script.sh | sh -
  
branches:
  except:
    - /^debian\/\d/